*{
    margin: 0;
    padding: 0;
    font-family: "Century Gothic" ,Ariel sans-serif;
}

a{
    color: rgb(152,152,152);
    text-decoration: none;
}
.main-menu{
    background-color: white;
    border-radius: 3px;
    position: sticky;
    top: 0;
}

.main-menu ul{
    height: 80px;
    display: grid;
    grid-template-columns: auto 100px 150px 100px 100px auto;
    list-style-type: none;
}

.main-menu ul li{
    margin-left: -100px;
    display: grid;
    justify-content: center;
    align-content: center;
}

.main-menu ul li:hover{
    font-size: 130%;
}

header{
    margin-top: 20px;
    /*background-image: url("pozadina.jpg");
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;*/
    background-image: linear-gradient(to right,rgb(80,80,80),rgb(176,176,176));
    height: 200px;
    display: grid;
    justify-content: left;
    align-content: center;
}

#organizatori h1{
    margin: 0px 0px 10px 150px;
    color: white;
    font-family: "Arial Black", Helvetica, sans-serif;
    font-size: 40px;
    font-style: bold;
    text-shadow: 5px 5px 10px rgb(76,76,76);
}

#organizatori p{
    margin-left: 150px;
    color: rgb(223, 143, 39);
    font-size: 20px;
    font-style: bold;
    text-shadow: 2px 2px 10px rgb(202, 142, 29);
}

#BEST{
    display: grid;
    grid-template-columns: auto auto;
}

#BEST-Beograd{
    display: grid;
    grid-template-columns: auto auto;
}

.levo{
    margin: 50px 50px 50px 150px;
}

.desno{
    margin: 50px 150px 50px 0px;
}

.levo h2{
    font-family: "Arial Black", Helvetica, sans-serif;
    font-size: 30px;
    font-style: bold;
    color: rgb(96,96,96);
    margin-bottom: 15px;
    text-shadow: 1px 1px 5px rgb(108,108,108);
}

.levo p{
    color: rgb(120,120,120);
    font-size: 20px;
    line-height: 150%;
    text-align: justify;
}

.desno img{
    margin-top: 40px;
    width: 400px;
    height: 300px;
    border-radius: 20px;
}

.btn{
    border: 2px solid rgb(96,96,96);
    height: 40px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    border-radius: 10px;
    margin-bottom: 30px;
}

.btn:hover{
    background-color: rgb(233, 171, 90);
}

#organizacioni-tim{
    background-color: rgb(64,64,64);
    padding-bottom: 40px;
}

#organizacioni-tim h4{
    font-family: "Arial Black", Helvetica, sans-serif;
    font-size: 20px;
    color: white;
    width: 250px;
    text-shadow: 5px 5px 10px rgb(76,76,76);
}

#organizacioni-tim p{
    color: rgb(255, 177, 31);
    font-size: 15px;
    line-height: 120%;
    width: 250px;
    margin-bottom: 5px;
}

#organizacioni-tim a{
    color: rgb(255, 177, 31);
    font-size: 14px;
    width: 250px;
}

#organizacioni-tim h2{
    font-family: "Arial Black", Helvetica, sans-serif;
    font-size: 35px;
    color: whitesmoke;
    padding: 50px 0px 50px 150px;
    text-shadow: 1px 1px 2px whitesmoke;
}

.org-tim{
    height: 300px;
    width: 250px;
    padding: 30px 50px 20px 0;
}

.org-tim-slike{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    place-content: center center;
    margin: 10px 10px 10px 10px;
}

.clan:not(:first-child){
    text-align: left;
}

footer img{
    height: 80px;
    widows: 200px;
    padding: 50px 20px;
}

#footer-logo{
    background-color: white;
    display: flex;
    justify-content: center;
}

.s-media{
    display: grid;
    justify-content: center;
}

.sm{
    width: 30px;
    height: 25px;
}

@media(max-width:620px){
    .main-menu{
        background-color: white;
        border-radius: 3px;
        position: sticky;
        top: 0;
        height: 180px;
    }
    
    .main-menu ul{
        height: 80px;
        display: grid;
        grid-template-columns: auto;
        justify-items: center;
        list-style-type: none;
    }
    
    header{
        margin-top: 20px;
        background-image: linear-gradient(to right,rgb(80,80,80),rgb(176,176,176));
        height: 200px;
        display: grid;
        justify-content: left;
        align-content: center;
    }
    
    #organizatori h1{
        margin: 0px 0px 10px 50px;
        color: white;
        font-family: "Arial Black", Helvetica, sans-serif;
        font-size: 30px;
        font-style: bold;
        text-shadow: 5px 5px 10px rgb(76,76,76);
    }
    
    #organizatori p{
        margin-left: 50px;
        color: rgb(223, 143, 39);
        font-size: 20px;
        font-style: bold;
        text-shadow: 2px 2px 10px rgb(202, 142, 29);
    }
    
    #BEST{
        display: grid;
        grid-template-columns: auto;
        justify-items: center;
    }
    
    #BEST-Beograd{
        display: grid;
        grid-template-columns: auto;
        justify-items: center;
    }
    
    .levo{
        margin: 30px 30px 30px 50px;
    }
    
    .desno{
        margin: 30px 50px 30px 0px;
    }
    
    .levo h2{
        font-family: "Arial Black", Helvetica, sans-serif;
        font-size: 30px;
        font-style: bold;
        color: rgb(96,96,96);
        margin-bottom: 15px;
        text-shadow: 1px 1px 5px rgb(108,108,108);
    }
    
    .levo p{
        color: rgb(120,120,120);
        font-size: 20px;
        line-height: 150%;
        text-align: justify;
    }
    
    .desno img{
        margin-top: 40px;
        width: 400px;
        height: 300px;
        border-radius: 20px;
    }
    
    .btn{
        border: 2px solid rgb(96,96,96);
        height: 40px;
        width: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        justify-self: center;
        border-radius: 10px;
        margin-bottom: 30px;
    }
    
    .btn:hover{
        background-color: rgb(233, 171, 90);
    }
    
    #organizacioni-tim{
        background-color: rgb(64,64,64);
        padding-bottom: 40px;
    }
    
    #organizacioni-tim h4{
        font-family: "Arial Black", Helvetica, sans-serif;
        font-size: 20px;
        color: white;
        width: 250px;
        text-shadow: 5px 5px 10px rgb(76,76,76);
    }
    
    #organizacioni-tim p{
        color: rgb(255, 177, 31);
        font-size: 15px;
        line-height: 120%;
        width: 250px;
        margin-bottom: 5px;
    }
    
    #organizacioni-tim a{
        color: rgb(255, 177, 31);
        font-size: 14px;
        width: 250px;
    }
    
    #organizacioni-tim h2{
        font-family: "Arial Black", Helvetica, sans-serif;
        font-size: 30px;
        color: whitesmoke;
        padding: 50px 0px 50px 80px;
        text-shadow: 1px 1px 2px whitesmoke;
    }
    
    .org-tim{
        height: 300px;
        width: 250px;
        padding: 30px 50px 20px 0;
    }
    
    .org-tim-slike{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        place-content: center center;
        margin: 10px 10px 10px 10px;
    }
    
    .clan:not(:first-child){
        text-align: left;
    }
    
    footer img{
        height: 80px;
        widows: 200px;
        padding: 50px 20px;
    }
    
    #footer-logo{
        background-color: white;
        display: flex;
        justify-content: center;
    }
    
    .s-media{
        display: grid;
        justify-content: center;
    }
    
    .sm{
        width: 30px;
        height: 25px;
    }
}